<?xml version="1.0"?>
<config>
	<modules>
		<Kaba_CustomCatalog>
			<version>0.0.9</version>
		</Kaba_CustomCatalog>
	</modules>
	<global>
		<models>
			<customcatalog>
				<class>Kaba_CustomCatalog_Model</class>
				<resourceModel>customcatalog_resource</resourceModel>
			</customcatalog>
			<customcatalog_resource>
				<class>Kaba_CustomCatalog_Model_Resource</class>
                <entities>
                    <page>
                        <table>customcatalog</table>
                    </page>
					<page_products>
                        <table>customcatalog_products</table>
                    </page_products>
				</entities>
			</customcatalog_resource>
			<catalog>
				<rewrite>
					<category>Kaba_CustomCatalog_Model_Catalog_Category</category>
				</rewrite>
			</catalog>
		</models>
		<helpers>
			<customcatalog>
				<class>Kaba_CustomCatalog_Helper</class>
			</customcatalog>
		</helpers>
		<blocks>
			<customcatalog>
				<class>Kaba_CustomCatalog_Block</class>
			</customcatalog>
		</blocks>
		<resources>
            <customcatalog_setup>
                <setup>
                    <module>Kaba_CustomCatalog</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </customcatalog_setup>
        </resources>
	</global>
	<frontend>
		<layout>
			<updates>
				<customcatalog>
					<file>customcatalog.xml</file>
				</customcatalog>
			</updates>
		</layout>
		<routers>
			<customcatalog>
				<use>standard</use>
				<args>
					<module>Kaba_CustomCatalog</module>
					<frontName>customcatalog</frontName>
				</args>
			</customcatalog>
		</routers>					
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<customcatalog before="Mage_Adminhtml">Kaba_CustomCatalog_Adminhtml</customcatalog>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
            <updates>
                <customcatalog>
                    <file>customcatalog.xml</file>
                </customcatalog>
			</updates>
		</layout>
	</adminhtml>
</config>